
body{
    background-color: rgb(255, 254, 252);
}
ul{ display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 18px;

}
a{
    color:rgb(7, 7, 7);
    text-decoration: none;
}s